/* --------------------------
  Navigation Styles
--------------------------- */

nav {
  padding-bottom: 50px;
  text-align    : left;

  ul {
    display        : flex;
    justify-content: space-around;
    padding-left   : 0;

    @media #{$brk-lg} {
      justify-content: flex-start;
    }
  }

  li {
    display: inline-block;

    @media #{$brk-lg} {
      margin : 0 12.5px;

      &:first-of-type {
        margin-left: 40px;
      }
    } 
  }

  @media #{$brk-sm} {
    padding-bottom: 10px;
  }
}

#heart,
#chat,
#location {
  width: 14px;
  fill : #39add1;

  @media #{$brk-ie} {
    height: 14px;
  }
}

a,
a path {
  transition: all .3s ease-out;
}

a:hover {
  color           : #fff;
  background-color: #39add1;
  padding         : 10px 15px;
  border-radius   : 5px;
}

a:hover path {
  fill: #fff;
}